#!/usr/bin/make -f
# -*- makefile -*-
#export DH_VERBOSE=1

MULTIARCH=`dpkg-architecture -qDEB_HOST_MULTIARCH`

%:
	dh $@ --with systemd --parallel

override_dh_strip:
	dh_strip --dbg-package=sddm-dbg

override_dh_auto_configure:
	dh_auto_configure -- -DUSE_QT5=TRUE -DCMAKE_INSTALL_LIBEXECDIR=/usr/lib/${MULTIARCH}/sddm

override_dh_systemd_start:
	dh_systemd_start -psddm --no-start -r sddm.service

override_dh_installinit:
	dh_installinit --no-start

override_dh_installpam:
	dh_installpam
	dh_installpam --name=sddm-autologin
	dh_installpam --name=sddm-greeter
