#!/usr/bin/make -f
# -*- makefile -*-
#export DH_VERBOSE=1

%:
	dh $@ --with systemd --parallel
override_dh_strip:
	dh_strip --dbg-package=sddm-dbg

override_dh_auto_configure:
	dh_auto_configure -- -DUSE_QT5=TRUE

override_dh_systemd_start:
	dh_systemd_start -psddm --no-start -r sddm.service


